// company.scss
// Company page styles

@use "../common/a-function" as *;

.company {
    #company-info {
        .company-details {
            dt {
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
            dd {
                margin-bottom: 1rem;
            }
        }
    }
}